* {
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
}

#cajas {
    max-width: 900px;
    border: 1px solid #ccc;
}

.caja {
    display: block;
    width: 250px;
    height: 250px;
    margin: 15px;
    padding: 5px;
    background-color: #14c28e;
    border: 1px solid #000000;
    float: left;
}

.caja p {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 230px;
}

.clearfix {
    float: none;
    clear: both;
}