body {
  background-color: lightblue;
}
h1 {
  font-family: Arial;
}
.info ul li a {
  color: white;
  font-size: 18px;
}
.info {
  box-shadow: 10px 10px 5px #888888;
  text-shadow: 5px 5px 5px #888888;
}
h1 {
  font-size: calc(30px + 7px);
  color: blue;
}
h1 {
  color: black;
}
.info {
  height: 900px;
  height: calc(900px/2*10);
  height: calc(900px/2*9);
  height: calc(900px/2*8);
  height: calc(900px/2*7);
  height: calc(900px/2*6);
  height: calc(900px/2*5);
  height: calc(900px/2*4);
  height: calc(900px/2*3);
  height: calc(900px/2*2);
  height: calc(900px/2*1);
}
